Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Saved/Logs/FinalGroupProject.log
*.ush
*.log
*.json
Saved/Config/WindowsEditor/Engine.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Logs/FinalGroupProject.log
